<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.SessionManagerFilter</filter-class>
        <init-param>
            <param-name>group</param-name>
            <param-value>admins</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admins/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filters.SessionManagerFilter</filter-class>
        <init-param>
            <param-name>group</param-name>
            <param-value>users</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>

    <!--
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Forrest_JDBC_Realm</realm-name>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <security-role>
        <role-name>user</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
         <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
    </security-constraint>
    -->
</web-app>